public/map_cropper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns:tns="urn:MapCropper"
        targetNamespace="urn:MapCropper"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    <!-- request messages -->
    <message name="imageByCoordinatesRequest">
        <part name="lat1" type="xsd:double"/>
        <part name="lon1" type="xsd:double"/>
        <part name="lat2" type="xsd:double"/>
        <part name="lon2" type="xsd:double"/>
    </message>
    <message name="imageByPixelsRequest">
        <part name="x1" type="xsd:int"/>
        <part name="y1" type="xsd:int"/>
        <part name="x2" type="xsd:int"/>
        <part name="y2" type="xsd:int"/>
    </message>
    <message name="imageInfoRequest">
    </message>
    <!-- response messages -->
    <message name="imageResponse">
        <part name="img" type="xsd:base64Binary"/>
    </message>
    <message name="imageInfoResponse">
        <part name="width" type="xsd:int"/>
        <part name="height" type="xsd:int"/>
    </message>
    <!-- server's services -->
    <portType name="CropperPortType">
        <operation name="byGpsCoordinates">
            <input message="tns:imageByCoordinatesRequest"/>
            <output message="tns:imageResponse"/>
        </operation>
        <operation name="byPixelCoordinates">
            <input message="tns:imageByPixelsRequest"/>
            <output message="tns:imageResponse"/>
        </operation>
        <operation name="imageInfo">
            <input message="tns:imageInfoRequest"/>
            <output message="tns:imageInfoResponse"/>
        </operation>
    </portType>
    <!-- server encoding -->
    <binding name="CropperBinding" type="tns:CropperPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="byGpsCoordinates">
            <soap:operation soapAction="tns:byGpsCoordinates"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="byPixelCoordinates">
            <soap:operation soapAction="tns:byPixelCoordinates"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="imageInfo">
            <soap:operation soapAction="tns:imageInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MapCropperService">
        <port name="CropperPort" binding="tns:CropperBinding">
            <soap:address location="http://localhost:65089/index.php"/>
        </port>
    </service>
</definitions>